apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: client
resources:
- namespace.yaml
- ../base/

patchesJson6902:
- path: hpa-patch.yaml
  target:
    group: autoscaling
    kind: HorizontalPodAutoscaler
    name: client
    version: v2beta1

images:
- name: IMAGE_NAME
  newName: ghcr.io/terotuomala/client
  newTag: 8f6a16f760961d0a45299568f2f3e7d7ac057751
