apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: client
resources:
- namespace.yaml
- ../base/

patchesJson6902:
- path: hpa-patch.yaml
  target:
    group: autoscaling
    kind: HorizontalPodAutoscaler
    name: client
    version: v2beta1

images:
- name: IMAGE_NAME
  newName: ghcr.io/terotuomala/client
  newTag: f0c31ce4e4a6f07db2e25fe09742b1fa9a03d839
