.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  flex-basis: 80%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.356);
}
.card:focus,
.card:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ul {
  list-style-type: none
}

li {
  margin: 6px;
}

a:link {
  color:white;
  text-decoration: underline;
}

p {
  font-size: calc(8px + 1vmin);
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
      flex-direction: column;
    }
  }