---
name: lint

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches: [main]

env:
    KUSTOMIZE_VERSION: v5.4.1

permissions: read-all

jobs:
  lint-yaml:
    runs-on: ubuntu-24.04
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    strategy:
      matrix:
        node: [20]
        pnpm: [8]

    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        fetch-depth: 1

    - name: Lint YAML
      uses: ibiqlik/action-yamllint@v3
      with:
        file_or_dir: "./k8s"
        config_file: "./.github/yamllint.config.yaml"

    - name: Set up Kustomize
      working-directory: k8s/staging
      run: |-
        curl -O -L https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize/${{env.KUSTOMIZE_VERSION}}/kustomize_${{env.KUSTOMIZE_VERSION}}_linux_amd64.tar.gz
        tar xzf ./kustomize_${{env.KUSTOMIZE_VERSION}}_linux_amd64.tar.gz
        chmod u+x ./kustomize

    - name: Build the k8s manifests using Kustomize
      working-directory: k8s/staging
      run: |-
        ./kustomize build > staging-manifests.yaml

    - name: Scan k8s manifests with kube-linter
      uses: stackrox/kube-linter-action@v1.0.7
      with:
        directory: "./k8s/staging/staging-manifests.yaml"
        config: .github/kube-linter.yaml

    - name: Setup Node.js ${{ matrix.node }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node }}
    
    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: ${{ matrix.pnpm }}
        run_install: false
    
    - name: Get pnpm store directory
      shell: bash
      run: |
        echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

    - name: Setup pnpm cache
      uses: actions/cache@v4
      with:
        path: ${{ env.STORE_PATH }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-

    - name: Install dependencies
      run: pnpm install

    - name: Lint JS
      run: pnpm run lint
