---
name: vulnerability-scan

on:
  schedule:
    - cron: "0 0 * * 1"

permissions: read-all

jobs:
  trivy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Build image
        id: build
        run: |
          IMAGE=test/client:${{ github.sha }}
          docker build -t ${IMAGE} .
          echo "::set-output name=image::$IMAGE"
      
      - name: Scan image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ steps.build.outputs.image }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
